[class*='icon-']:before {
    font-size: 60pt;
}
.icon-coffee_cup_100:before {
    color: green;
}

.icon-coffee_cup_66:before {
    color: yellow;
}

.icon-coffee_cup_33:before {
    color: orange;
}

.icon-coffee_cup_0:before {
    color: red;
}

.icon-coffee_machine:before {
    color: black;
}
