[class*='icon-']:before {
    font-size: 60pt;
}
.coffeeBackground_FillLevel_100 {
    background-color: green !important;
}

.coffeeBackground_FillLevel_66 {
    background-color: yellow !important;
}

.coffeeBackground_FillLevel_33 {
    background-color: orange !important;
}

.coffeeBackground_FillLevel_0 {
    background-color: red !important;
}

.coffeeBackground_coffeeBrewing {
    background-color: pink !important;
}

.coffeeBackground_coffeeReady{
    background-color: teal !important;
}